<div class="row">

    <div class="col-md-4 col-md-offset-4">

        <hr>
        <form novalidate class="simple-form" name="productoMedioForm"  ng-submit="$ctrl.generarNumerosProductoMedio($ctrl.r1,$ctrl.r2,$ctrl.cantidad)">
          <div class="form-group">
            <label for="">R1</label>
            <input type="number" class="form-control" name="r1" ng-model="$ctrl.r1" required integer required ng-minlength="4">
            <span ng-show="productoMedioForm.r1.$error.required && productoMedioForm.r1.$dirty">
              <p>ingrese un numero de al menos 4 digitos </p>
            </span>
            <span ng-show="productoMedioForm.r1.$error.minlength && productoMedioForm.r1.$dirty">
              <p>ingrese un numero de al menos 4 digitos </p>
            </span>
          </div>


          <div class="form-group">
            <label for="">R2</label>
            <input type="number" class="form-control" name="r2" ng-model="$ctrl.r2" required integer ng-minlength="4"
            cantidaddigitos="{{$ctrl.r1}}" >

            <span ng-show="productoMedioForm.r2.$error.required && productoMedioForm.r2.$dirty">
              <p>ingrese un numero de al menos 4 digitos </p>
            </span>
            <span ng-show="productoMedioForm.r2.$error.minlength && productoMedioForm.r2.$dirty">
              <p>ingrese un numero de al menos 4 digitos </p>
            </span>
            <span ng-show="productoMedioForm.r2.$error.cantidaddigitos && productoMedioForm.r2.$dirty">
              <p>r2 y r1 deben tener la misma cantidad de digitos </p>
            </span>

          </div>

          <div class="form-group">
            <label for="">Cantidad de numeros a generar</label>
            <input type="number" class="form-control" "name="cantidad" ng-model="$ctrl.cantidad" min="1" required integer ">
              <span ng-show="productoMedioForm.cantidad.$error.required && productoMedioForm.cantidad.$dirty">
                especifique la cantidad de numeros a generar
              </span>
              <span ng-show="productoMedioForm.cantidad.$error.min && productoMedioForm.cantidad.$dirty"><p>debe generar por lo menos 1 numero</p></span>
              <span ng-show="productoMedioForm.cantidad.$error.integer &&
                productoMedioForm.cantidad.$dirty" > <p>ingrese un numero entero</p></span>

          </div>


          <hr>

          <p><button type="submit" class="btn btn-primary form-control" ng-click="" ng-disabled="productoMedioForm.$invalid">Generar</button></p>

          <hr>
        </form>
    </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <md-content laout="column" flex>
      <md-card>
        <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
            <span>Numeros Generados</span>
          </div>
        </md-toolbar>

        <!-- exact table from live demo -->
        <md-table-container>
          <table md-table  multiple >
            <thead md-head md-order="$ctrl.query.order"  >
              <tr md-row>
                <th md-column md-numeric md-order-by="posicion"><span>Posicion</span></th>
                <th md-column md-numeric md-order-by="r1"><span>r1</span></th>
                <th md-column md-numeric md-order-by="r2"><span>r2</span></th>
                <th md-column md-numeric md-order-by="numeroAleatorio">Numero</th>

              </tr>
            </thead>
            <tbody md-body>
              <tr md-row   ng-repeat="numero in $ctrl.generados.data | orderBy:$ctrl.query.order |limitTo: $ctrl.query.limit: ($ctrl.query.page -1) *$ctrl.query.limit">
                <td md-cell >{{numero.posicion}}</td>
                <td md-cell >{{numero.r1}}</td>
                <td md-cell >{{numero.r2}}</td>
                <td md-cell >{{numero.numeroAleatorio}}</td>

              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination  md-limit="$ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.query.page" md-total="{{$ctrl.generados.length}}"  md-page-select ></md-table-pagination>
      </md-card>

    </md-content>
  </div>



</div>
