<div class="row">

    <div class="col-md-4 col-md-offset-4">

        <hr>
        <form novalidate class="simple-form" name="cuadradoForm"  ng-submit="$ctrl.generarNumerosCuadradoMedio($ctrl.semilla,$ctrl.cantidad)">
          <div class="form-group">
            <label for="">Semilla</label>
            <input type="number" class="form-control"name="semilla" ng-model="$ctrl.semilla"  espar integer required>
            <span ng-show= "cuadradoForm.semilla.$dirty && cuadradoForm.semilla.$error.espar">
              <p>la semilla debe seguir el patron 2n</p>
            </span>

            <span ng-show= "cuadradoForm.semilla.$dirty && cuadradoForm.semilla.$error.integer">
              <p>la semilla debe ser un numero entero</p>
            </span>
          </div>

          <div class="form-group">
            <label for="">Cantidad de numeros a generar</label>
            <input type="number" class="form-control "name="cantidad" ng-model="$ctrl.cantidad" min="1" integer required>
          </div>
          <span ng-show="cuadradoForm.cantidad.$error.required && cuadradoForm.cantidad.$dirty">
            <p>especifique la cantidad de numeros a generar</p>
          </span>
          <span ng-show="cuadradoForm.cantidad.$error.min && cuadradoForm.cantidad.$dirty"><p>debe generar por lo menos 1 numero</p></span>
          <span ng-show="cuadradoForm.cantidad.$error.integer && cuadradoForm.cantidad.$dirty"><p>debe debe ingresar un numero entero</p></span>

          <hr>

          <p><button type="submit" class="btn btn-primary form-control" ng-click="" ng-disabled="cuadradoForm.$invalid">Generar</button></p>

          <hr>
        </form>
    </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <md-content laout="column" flex>
      <md-card>
        <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
            <span>Numeros Generados</span>
          </div>
        </md-toolbar>

        <!-- exact table from live demo -->
        <md-table-container>
          <table md-table  multiple >
            <thead md-head md-order="$ctrl.query.order"  >
              <tr md-row>
                <th md-column md-numeric md-order-by="posicion"><span>Posicion</span></th>
                <th md-column md-numeric md-order-by="semilla"><span>Semilla</span></th>
                <th md-column md-numeric md-order-by="numeroAleatorio">Numero</th>

              </tr>
            </thead>
            <tbody md-body>
              <tr md-row   ng-repeat="numero in $ctrl.generados.data | orderBy:$ctrl.query.order |limitTo: $ctrl.query.limit: ($ctrl.query.page -1) *$ctrl.query.limit">
                <td md-cell >{{numero.posicion}}</td>
                <td md-cell >{{numero.semilla}}</td>
                <td md-cell >{{numero.numeroAleatorio}}</td>

              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination  md-limit="$ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.query.page" md-total="{{$ctrl.generados.length}}"  md-page-select ></md-table-pagination>
      </md-card>

    </md-content>
  </div>



</div>
